$default-color: #2d4054;
$default-hover-color: #00b4cf;
$default-bg-clolor: #f3f3f3;
$hover-bg-color: #435466;
$bg-light-color: #efefef;
$btn-primary-hover-color:#01869a;
$idle-bg-color:#7fbc39;
$building-bg-color:#ff9a2a;
$input-border-color:#e1e4e6;


$color-f3: #f3f3f3;
$color-white: #fff;
$color-9: #999;
$color-c:#ccc;

$font12: 12px;
$font16: 16px;
$font14: 14px;
$font18: 18px;
$font20: 20px;
$font24: 24px;
$font48: 48px;
$font80: 80px;
$font144: 144px;
